.button {
    border: 1px solid black;
    display: inline-block;
    height: 100px;
    width: 100px;
}   
#grey
{
    background: grey;
}
#white
{
    background: white;
}
#blue
{
    background: blue;
}
#yellow
{
    background: yellow;
}
